@media screen and (max-width: 1150px) {
    .team__img-box {
        height: 450px;
    }
    .team__img--1 {
        width: 38%;
    }
    .team__img--2 {
        width: 12%;
    }
    .team__img--3 {
        width: 36%;
    }
    .team__img--4 {
        width: 19%;
    }
    .team__img--5 {
        width: 32%;
    }
    .team__img--6 {
        width: 26%;
    }
}

@media screen and (max-width: 992px) {
    .header__nav {
        margin-left: 15px;
    }
    .header__nav-item+.header__nav-item {
        margin-left: 15px;
    }
    .header__box {
        padding-left: 0px;
    }
    .header__title {
        font-size: 100px;
        line-height: 120px;
    }
    .main {
        font-size: 18px;
        font-weight: 200;
        line-height: 27px;
    }
    .team__img-box {
        height: 400px;
    }
    .future__box {
        justify-content: space-around;
    }
    .for_busines__iner,
    .for_user__iner {
        display: block;
        position: relative;
    }
    .for_busines__video-box,
    .for_user__video-box {
        position: absolute;
        right: 0;
        top: 0;
    }
    .questions__answer {
        font-size: 16px;
        line-height: 22px;
        font-weight: 100;
    }
    .footer__link+.footer__link {
        margin-left: 15px;
    }
    .footer__link:last-child {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .header__top {
        position: relative;
        justify-content: space-between;
        height: 60px;
    }
    .header__logo-img {
        height: 20px;
        width: 20px;
    }
    .header__nav {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: -100vh;
        background-color: black;
        width: 100%;
        min-height: calc(100vh - 60px);
        margin-left: 0;
        transition: all 0.5s;
    }
    .header__nav--action {
        top: 59px;
    }
    .header__nav-list {
        flex-direction: column;
    }
    .header__nav-item {
        margin-top: 25px;
    }
    .header__nav-item+.header__nav-item {
        margin-left: 0;
    }
    .header__nav-tel {
        margin-top: 25px;
    }
    .header__burger {
        display: block;
    }
    .header__content {
        height: calc(100vh - 60px);
    }
    .header__title {
        font-size: 70px;
        line-height: 80px;
    }
    .team__img-box {
        height: 350px;
        margin-top: 70px;
    }
    .team__iner-text:nth-child(odd),
    .team__men:nth-child(odd) {
        margin-left: 0;
        margin-right: auto;
    }
    .team__iner-text:nth-child(odd) {
        text-align: left;
    }
    .team__men {
        width: auto;
    }
    .team__benefits-item span {
        font-size: 30px;
        line-height: 33px;
    }
    .future__decor {
        font-size: 96px;
        line-height: 144px;
    }
    .for_busines,
    .for_user {
        overflow: hidden;
    }
    .for_busines__video,
    .for_user__video {
        transform: translateX(50%);
    }
    .questions__box-item {
        margin: 50px 0;
    }
    .questions__box-item+.questions__box-item::before {
        top: -25px;
    }
    .footer__link-box {
        justify-content: space-between;
    }
    .footer__link+.footer__link,
    .footer__link:last-child {
        margin-left: 10px;
    }
}

@media screen and (max-width: 650px) {
    .team__img-box {
        height: 300px;
    }
}

@media screen and (max-width: 576px) {
    h2,
    h3 {
        font-size: 30px;
        line-height: 33px;
        font-weight: 300;
        margin-top: 70px;
        margin-bottom: 45px;
    }
    .header__content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 530px;
        margin: 0 auto 0 auto;
    }
    .header__title {
        font-size: 50px;
        line-height: 55px;
    }
    .header__text {
        margin: 19px 0 0 0;
        max-width: 260px;
    }
    .header__video-box {
        margin-top: 18px;
    }
    .header__social {
        display: none;
    }
    .about-product__video {
        margin-top: 55px;
    }
    .about-product__text+.about-product__text {
        margin-top: 20px;
    }
    .about-product__step::before {
        height: 40px;
        width: 40px;
        font-size: 20px;
        line-height: 20px;
        top: -48px;
    }
    .about-product__text-box {
        padding: 20px;
    }
    .team__men-img {
        width: 70px;
        height: 70px;
    }
    .team__img-box {
        height: 550px;
    }
    .team__img--1 {
        width: 179px;
    }
    .team__img--2 {
        width: 106px;
        top: 308px;
        left: 0;
        transform: none;
        z-index: 2;
    }
    .team__img--3 {
        width: 190px;
        top: auto;
        right: auto;
        bottom: 0;
        left: 40%;
        transform: translateX(-50%);
    }
    .team__img--4 {
        width: 86px;
        bottom: 270px;
        left: 0;
    }
    .team__img--5 {
        width: 185px;
        left: auto;
        bottom: 327px;
        right: 0;
        transform: none;
    }
    .team__img--6 {
        width: 195px;
        bottom: 157px;
    }
    .team__men-name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .team__benefits {
        display: block;
        margin-top: 100px;
        text-align: center;
    }
    .team__benefits-item+.team__benefits-item {
        margin-top: 70px;
    }
    .technology__list {
        text-align: center;
    }
    .technology__item-title {
        font-size: 20px;
        line-height: 22px;
    }
    .technology__point::before {
        height: 40px;
        width: 40px;
        font-size: 20px;
        line-height: 20px;
        top: -48px;
    }
    .calculate__item span {
        font-size: 20px;
        line-height: 27px;
    }
    .future__box {
        flex-direction: column-reverse;
    }
    .future__decor {
        margin-top: 43px;
    }
    .future__text-box span {
        padding: 20px;
        background: rgba(193, 211, 255, 0.07);
        border-radius: 10px;
    }
    .testing__iner {
        padding: 20px;
    }
    .testing__title {
        font-size: 24px;
        line-height: 30px;
    }
    .testing__text {
        margin-top: 15px;
    }
    .testing__form {
        margin-top: 48px;
    }
    .testing__form-btn {
        order: 10;
        width: 100%;
        margin-top: 28px;
    }
    .for_banks__text {
        display: block;
    }
    .for_busines__list,
    .for_user__list {
        list-style: none;
        text-align: center;
    }
    .for_busines__item,
    .for_user__item {
        margin-top: 70px;
    }
    .about_planet__title {
        font-size: 24px;
        line-height: 30px;
    }
    .about_planet__text {
        font-size: 18px;
        line-height: 24px;
    }
    .about_planet__text+.about_planet__text {
        margin-top: 48px;
    }
    .partners__img {
        width: 50%;
    }
    .evm__img {
        margin-top: 64px;
        height: 260px;
        width: 182px;
    }
    .footer__iner {
        padding: 17px 0 19px 0;
    }
    .footer__box {
        display: none;
    }
    .footer__link-box {
        margin: 0;
        flex-direction: column;
    }
    .footer__link+.footer__link,
    .footer__link:last-child {
        margin-left: 0;
    }
    .footer__link+.footer__link {
        margin-top: 5px;
    }
    .footer__link:last-child {
        margin-top: 14px;
    }
}